* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: rgb(29, 53, 87);
    background-color: rgb(241, 250, 238);
    line-height: 20px;
}

h1 {
    font-weight: 900;
    line-height: 40px;
    text-align: center;
}

ul {
    list-style: none;
    line-height: 25px;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: rgb(29, 53, 87);
    width: 100%;
}

.links {
    text-align: center;
}

.header {
    background-color: rgb(29, 53, 87);
    color: rgb(241, 250, 238);
    padding: 40px 60px 40px;
}

.logos-social-media {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.links-social-media {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

#profile-name {
    margin-left: 10px;
}

#foto-perfil {
    border-radius: 100%;
    width: 300px;
    display: inline-block;
    vertical-align: middle;
}


.about-me-text {
    max-width: 65%;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-left: 30px;
    margin-top: 20px;
    line-height: 20px;
}

.header-about-me {
    margin-bottom: 50px;
    margin-top: 50px;
}

.header-socials {
    line-height: 30px;
}