* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #293241;
    background-color: #e0fbfc;
    text-align: center;
    line-height: 20px;
}

h2 {
    font-weight: 900;
    line-height: 40px;
}

.links {
    text-align: center;
}

.header {
    background-color: #293241;
    color: #e0fbfc;
    padding: 40px 60px 40px;
}

.social-media {
    text-align: left;
}

.logos-social-media {
    width: 20px;
    height: 20px;
}

.links-social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content {
    padding: 20px 150px;
}

#profile-name {
    margin-left: 10px;
}

#foto-perfil {
    border-radius: 100%;
    width: 300px;
    display: inline-block;
    vertical-align: middle;
}


.about-me-text {
    max-width: 65%;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-left: 30px;
    margin-top: 20px;
    line-height: 20px;
}

.header-about-me {
    margin-bottom: 50px;
    margin-top: 50px;
}

.header-socials {
    line-height: 30px;
}