body {
    font-family: 'Montserrat', sans-serif;
    color: #293241;
    background-color: #e0fbfc;
    text-align: center;
}

h2 {
    font-weight: 900;
    line-height: 40px;
}

.links {
    text-align: center;
}

.header {
    background-color: #293241;
    color: #e0fbfc;
    padding: 40px 60px 40px;
}

.social-media {
    text-align: left;
}

.logos-social-media {
    width: 20px;
    height: 20px;
}

.links-social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content {
    padding: 20px 150px;
}

#profile-name {
    margin-left: 10px;
}

#foto-perfil {
    border-radius: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

