/* stylelint-disable color-hex-case */
* {
  margin: 0;
}

body {
  background-color: rgb(253, 251, 251);
  color: rgb(29, 53, 87);
  font-family: outfit, sans-serif;
  font-size: larger;
  line-height: 25px;
}

main {
  padding: 30px 50px;
}

p {
  margin-top: 20px;
}

h1 {
  margin-left: 2%;
}

h2 {
  margin-top: 20px;
}

ul , ol {
  display: inline-block;
  margin-top: 20px;
}

ul {
  width: 50%;
}

table {
  border: 2px solid rgb(29, 53, 87);
  margin-top: 20px;
  align-items: center;
}

td {
  padding: 20px;
}

td:nth-of-type( odd ) {
  border-right: 2px solid rgb(29, 53, 87);
}

th {
  border-bottom: 2px solid rgb(29, 53, 87);
}

.lado-esquerdo {
  margin-right: 50px;
}

.lado-esquerdo , .lado-direito {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

#cabecalho {
  background-color: rgb(168, 218, 220);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 30px;
}

#minha_foto {
  width: 300px;
  margin-top: 100px;
  display: block;
  border-radius: 10px;
  border: 5px solid rgb(29, 53, 87);
}

#rodape {
  text-align: center;
}

